<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<h2> Owner list </h2>
<div th:each="owner:${owners}">
    <h3 th:text="${owner.name}"></h3>
    <a th:href="@{/updateOwner/{id}(id=${owner.id})}">Update Owner</a>
    <a th:href="@{/deleteOwner/{id}(id=${owner.id})}">Delete Owner</a>
    <ul>
        <th:block th:each="pet:${owner.pets}">
            <li th:inline="text"><b>[[${pet.name}]]</b></li>
            <li th:inline="text"><b>[[${pet.type}]]</b></li>
            <li th:inline="text"><b>[[${pet.description}]]</b></li>
            <li><a th:href="@{/updatePet/{id}(id=${pet.id})}">Update Pet</a></li>
            <li><a th:href="@{/deletePet/{id}(id=${pet.id})}">Delete Pet</a></li>
        </th:block>
    </ul>
</div>
<br>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout">
</form>
<a th:href="@{/addOwner}">Add Owner</a>
<a th:href="@{/addPet}">Add Pet</a>
<a>Add Pet</a>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>